In [1]:
import pandas
df=pandas.read_csv("D:\KursAI\python\pliki_kurs\diamonds_multi.csv",sep=";",header=0)

In [2]:
df.head()

   price  carat color      cut     x     y     z
0    326   0.23     E    Ideal  3.95  3.98  2.43
1    326   0.21     E  Premium  3.89  3.84  2.31
2    327   0.23     E     Good  4.05  4.07  2.31
3    334   0.29     I  Premium  4.20  4.23  2.63
4    335   0.31     J     Good  4.34  4.35  2.75

In [3]:
df['color'].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [4]:
colorMap={
    'D':7,
    'E':6,
    'F':5,
    'G':4,
    'H':3,
    'I':2,
    'J':1
}
cutMap={
    'Ideal':5,
    'Premium':4,
    'Very Good':3,
    'Good':2,
    'Fair':1
    
}
df['colorNumber']=df['color'].map(colorMap)
df['cutNumber']=df['cut'].map(cutMap)
newdf=df.drop(['color','cut'],axis=1)
newdf.head()

   price  carat     x     y     z  colorNumber  cutNumber
0    326   0.23  3.95  3.98  2.43            6          5
1    326   0.21  3.89  3.84  2.31            6          4
2    327   0.23  4.05  4.07  2.31            6          2
3    334   0.29  4.20  4.23  2.63            2          4
4    335   0.31  4.34  4.35  2.75            1          2

In [6]:
from sklearn.model_selection import train_test_split
X_diam=newdf[['carat','x','y','z','colorNumber','cutNumber']]
y_diam=newdf[['price']]
Xtrain,Xtext,ytrain,ytest=train_test_split(X_diam,y_diam,random_state=1)

In [7]:
from sklearn import linear_model
regr=linear_model.LinearRegression()

In [8]:
regr.fit(Xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [10]:
y_pred=regr.predict(Xtext)